@media (min-width:1920px) {


    nav {
        padding-top: 50px;
    }

    .btn {
        border-radius: 5px;
        font-size: 20px;
        padding: 18px 35px;
    }

    p {
        font-size: 18px;
        line-height: 30px;
    }

    .heroBG1 {
        top: 286px;
        left: -276px;
        font-size: 84px;
    }

    .heroBG2 {
        width: 800px;
    }

    .logo {
        font-size: 45px;

    }

    nav>ul {
        gap: 65px;

        a {
            font-size: 20px;

        }
    }

    .hero {
        gap: 165px;
        margin-top: 50px;

        h3 {
            font-size: 45px;

        }

        h1 {
            font-size: 85px;

        }

        p {
            margin: 20px 0 30px;
        }

        .heroBtnContainer {
            gap: 30px;

        }

        .heroImg {
            right: -110px;
            width: 580px;
        }
    }

    #about {

        padding: 130px 155px;
        margin: 130px auto;
        border-radius: 10px;

    }

    h2 {
        font-size: 35px;
    }

    #about>p {
        margin: 30px 0;
    }

    .detailsCard {
        font-size: 20px;
    }

    .detailsCard p {
        font-size: 20px;
    }



    #whatIDo {
        gap: 50px;
        margin-bottom: 130px;
    }

    .WIDtop {
        gap: 30px;
        padding: 0 115px;
    }

    .WIDCardContainer {
        gap: 24px;
    }

    .WIDCard {
        box-shadow: 0px 6px 50px 0px #0000000f;
        border-radius: 5px;
        padding: 30px;
    }

    .WIDCardImg {
        gap: 10px;
        margin-bottom: 30px;
    }

    .WIDCardImg img {
        width: 40px;
    }

    .cardContent h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .cardContent p {
        font-size: 16px;
        line-height: 28px;
    }
}