@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

body {
    max-width: 1920px;
    margin: 0 auto;
}

header {
    background-color: #FFF8F3;
    position: relative;
}

nav {

    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3.125vw;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FD6E0A;
    color: white;
    border: 1px solid transparent;
    border-radius: 0.3125vw;
    padding: 1.125vw 2.1875vw;
    font-weight: bold;
    font-size: 1.25vw;
    transition: all 300ms ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: transparent;
        color: #FD6E0A;
        border: 1px solid #FD6E0A;
    }

    &:active {
        scale: 0.95;
    }
}

p {
    color: #757575;
    font-size: 1.125vw;
    line-height: 1.875vw;
}




.heroBG1 {
    color: rgba(24, 24, 24, 0.151);
    position: absolute;
    top: 17.875vw;
    left: -17.25vw;
    font-size: 5.25vw;
    letter-spacing: 0.33em;
    rotate: 270deg;
}

.heroBG2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50vw;
}



.logo {
    cursor: pointer;
    transition: all 300ms ease-in-out;
    font-size: 2.8125vw;

    &:active {
        scale: 0.95;
    }
}

nav>ul {

    list-style: none;

    display: flex;
    gap: 4.0625vw;







}

nav>ul a {
    transition: all 300ms ease-in-out;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.25vw;
    color: #474747;
}

nav>ul a:hover {
    color: #FD6E0A;
}

nav>ul a:active {
    scale: 0.95;
}

.hero {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10.3125vw;
    margin-top: 3.125vw;

}

.hero h3 {
    color: #474747;
    font-size: 2.8125vw;
    font-weight: 600;
}





.hero h1 {
    color: #181818;
    font-size: 5.3125vw;
    font-weight: bold;
}

.hero p {
    margin: 1.25vw 0 1.875vw;
}

.heroBtnContainer {
    display: flex;
    align-items: center;
    gap: 1.875vw;
}

.heroImg {
    z-index: 2;
    position: relative;
    right: -6.875vw;
    width: 36.25vw;
}

#about {
    padding: 8.125vw 9.6875vw;
    margin: 8.125vw auto;
    text-align: center;
    width: 80%;
    background-color: #FFF8F3;
}

h2 {
    font-size: 2.1875vw;
    border-radius: 0.625vw;
    color: #181818;
}

#about>p {

    margin: 1.875vw;
}

.detailsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.detailsCard {
    display: flex;
    flex-direction: column;
}

.detailsCard p {
    font-size: 1.25vw;
}

strong {
    color: #474747;
}